@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Create New Contact";
}

@*
    Create a new contact
*@

<h2>Create New Contact</h2>

@Html.Partial("_ContactForm")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}