@model AdventurousContacts.Models.Contact

@{
    ViewBag.Title = "Edit Contact";
}

@*
    Edit a contact
*@

<h2>Edit Contact</h2>

@Html.Partial("_ContactForm")

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}