@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@*
    Error page for unhandled exceptions
*@

<h2>Error</h2>

<p>Sorry, an error occurred while processing your request.</p>
<p>@Html.ActionLink("Back to contacts", "Index", null, new { @class = "btn btn-primary" })</p>


